@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: "Poppins", Arial, sans-serif;
    background: #f8f8f8;
}

.heading p{
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    color: #ffa62b;
    font-weight: 600;
}

h2{
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 54px;
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    color: #1f1f1fc9;
}

h3{
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    padding: 0;
    color: #1f1f1fc6;
    text-align: center;
}

.box p{
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    color: #9c9c9c;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0; 
    transition: all .5s ease-in;

}

.box{
    background-color: #fff;
    padding-bottom: 25px;
    position: relative;
    cursor: pointer;
   /* margin-right: 20px;*/
   box-shadow: 10px 10px 10px #c3c3c324, -10px -10px 10px #c3c3c325;
}

.icon i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2d2d2dd6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    left: 20px;
    opacity: 0;
    cursor: pointer;
    transition: all .2s ease-in;
}

.icon{
display: flex;
flex-direction: column;
gap: 2px;
justify-content: center;
align-items: center;
position: absolute;
}

.image img{
    height: 100%;
    width: 100%;
}

.fa-brands{
    color: #fff;
}

.box :hover .icon i {
    opacity: 1;
}

.icon i:hover{
    background-color: #ffa62b;
}


.box:hover{
background-color: #ffa62b;
}

.box:hover p{
    color: #fff;
}
