.box {
    margin-top: 20%;
}

form {
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    padding: 30px;
    background-color: #f3f3f39e;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
}

button {
    width: 270px;
    height: 40px;
    display: flex;
    padding: 8px;
    gap: 2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: rgb(154, 11, 154);
    border: 1px solid #7878789e;
    border-radius: 10px;
    outline: none;
}

.info {
    display: flex;
    flex-direction: column;
}

input {
    width: 270px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #7878789e;
    border-radius: 10px;
    outline: none;
}

button[type="button"] {
    width: 90px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: blueviolet;
}

.username,
.password {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

a {
    display: block;
    text-align: right;
    font-size: 16px;
    font-weight: 300;
    color: #727272;
    text-decoration: underline;
}

h1 {
    font-size: 25px;
    font-weight: 800;
}

label {
    font-size: 16px;
    font-weight: 300;
    color: #3b3b3b;
}