@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap');


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.card {
    width: 330px;
    height: 200px;
    background-color: #8e44ad;
    margin: 10px;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    margin-bottom: 20px;
    background-size: cover;
    background-clip: border-box;
    background-position: center;
}

.number{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: #fff;
    font-weight: 200;
}

.name{
    font-family:monospace;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.deadline div:nth-child(1){
font-size: 9px;
color: #fff;
font-family: 'Tahoma', sans-serif;
}

.deadline div:nth-child(2){
    font-size: 16px;
    color: #fff;
    font-family: 'Tahoma', sans-serif;
    }


.date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*
.green{
  background-color: green;
}

.black{
background-color: black;
}

.blue{
 background-color: blue;
}
*/


.date div:nth-child(2) img{
    margin-right: 10px;
}

.image-1{
    background-image: url(40e30132-7f97-4279-bad6-4622576e2276.jpg);
}

.image-2{
    background-image: url(8bb89e18-f850-4039-a754-e1c57acfa3db\ \(1\).jpg);
}

.image-3{
    background-image: url(50a161fa-5b41-4f83-9b5c-191c94271bf3\ \(2\)_clipdrop-enhance\ \(1\).jpg);
}
.image-4{
    background-image: url(095cb943-2665-4027-8b99-f7e45f829f8d_clipdrop-enhance\ \(1\)\ \(1\)_clipdrop-enhance\ \(1\).jpg);
}