*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #111;
    width: 100%;
    height: 70px;
}

.col-2{
    background-color: lightgray;
    padding: 15px;
    height: 227px;
    width: 290px;
    border-radius: 10px;
}


footer {
    height: 45px;
    background-color: plum;
    width: 85%;
    margin: 70px auto;
    border-radius: 40px;

}